{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card p-4">
            <h3 class="text-center mb-3">Officer Login</h3>
            <form method="POST" action="/officer-login">
                <div class="mb-3">
                    <label>Badge ID</label>
                    <input type="text" name="badge_id" class="form-control" placeholder="OFF-1001" required>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Officer@123" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}